{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="text-center"><h1>Profil</h1></div>

<div class="offset-md-5">
    {{ form(form) }}
    <a type="button" class="btn btn-primary" href="http://localhost/projet-sortir/public/profil">Retour</a>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</div>
{% endblock %}
